.user {
    display: flex;
    align-items: center;
    gap: 20px;
}
.user__reg {
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}
.user__sep {
    width: 2px;
    height: 26px;
    background-color: rgba(2, 148, 145, 1);
}
.user__login {
    color: rgba(0, 0, 0, 1);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    cursor: pointer;

    background-color: rgba(124, 227, 225, 1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;

    box-sizing: border-box;
}
